<div class="container-dialog">

    <img class="image2" mat-card-image src="{{data?.user.avatar}}" alt="Photo">

    <div class="info1">
        <p> <b>{{data?.user.first_name}} {{data?.user.last_name}}</b></p>
        <p><b>Identificación: </b> 1004790865</p>
        <p><b>Teléfono: </b> 24 568 40</p>
        <p><b>Género: </b> {{data?.user.gender}}</p>
        <p><b>Profesión: </b> Abogado</p>
    </div>

    <div class="info2">
        <p><b>País: </b> Colombia</p>
        <p><b>Ciudad: </b> Cali</p>
    </div>

</div>
